.banner {
	margin: 20px;
	font-family: 'Roboto', sans-serif;
	color: #474439;
	line-height: 1em;
}

.filter-selector-forms {
	text-align: center;
}

form.length-form {
	padding: 10px;
	text-align: left;
	display: inline-block;
	width: 33%;
	max-width: 200px;
}

form.clean-or-dirty-form {
	padding: 10px;
	text-align: left;
	display: inline-block;
	width: 33%;
	max-width: 200px;
}

.recommend-button {
	padding: 10px;
	color: black;
	background-color: white;
	border: 1px solid #444;
	border-radius: 2px;
	font-size: 1.1em;
}



legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}