.banner {
	margin: 20px;
	font-family: 'Roboto', sans-serif;
	color: #474439;
	line-height: 1em;
}

.filter-selector-forms {
	text-align: center;
}

form.length-form {
	padding: 10px;
	text-align: left;
	display: inline-block;
	width: 33%;
	max-width: 200px;
}

form.clean-or-dirty-form {
	padding: 10px;
	text-align: left;
	display: inline-block;
	width: 33%;
	max-width: 200px;
}

.recommend-button {
	padding: 10px;
	background-color: white;
	border-radius: 2px;
	font-size: 1.1em;
	margin: 10px 5px;
	color: #444;
	border: 1px solid rgba(69, 66, 39, .5);
}

button.recommend-button:hover {
	background-color: #fbd7d7;
	cursor: pointer;
}

h2.username-name {
	padding-left: 20px;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}