.header-bar {
	margin: 0 auto;
	padding: 1.5em 0 0 0;
	background-color: white;
	border-bottom: 2px solid #d9d8d0;
	width: 100%;
}

h1.header-title {
	font-family: 'Amatic SC', cursive;
	font-size: 3em;
	color: #444;
	width: 95%;
	margin: 0 auto;
}

.header-bar button {
	padding: 7px;
	border-radius: 2px;
	border: 2px solid #444;
}

button.loginButton {
	margin: 10px 5px;
}

button.go-to-dashboard-button,
button.go-to-favorites-button,
button.logout-button {
	margin: 10px 5px;
	background-color: white;
	color: #444;
	border: 1px solid rgba(69, 66, 39, .5);
}

button.go-to-dashboard-button:hover,
button.logout-button:hover,
button.go-to-favorites-button:hover {
	color: #E1C1C1;
	cursor: pointer;
}

@media only screen and (max-width:500px) {
	h1.header-title {
		font-size: 2.1em;
		font-weight: 400; 
	}
}